.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282C34;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3F4552;
  border: 2px solid #3f524c;
  border-radius: 10px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.title {
  font-family: 'Lato-Black';
}

#firebaseui-auth-container {
  margin-top: -15px;
  padding-bottom: 10px;
  border-bottom: 3px solid #3f524c;
}
