/* Targets listview heading (i.e. day of week). */
.fc-list-day-cushion.fc-cell-shaded {
	background-color: #007474;
}

/* Targets entire calendar in listview. */
.fc-list.fc-view {
	border: 2px solid black;
}

/* Targets an event entry in listview. */
.fc-list-event.fc-event {
	border: 2px solid black;
	--fc-list-event-hover-bg-color: #00A693;
}
