.duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.time-input {
  width: 35px;
  margin-left: 5px;
}

header {
  font-weight: normal;
  padding: 2px;
}

p {
  margin: 3px;
  font-size: 14px;
}
