.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.content {
  /*
    The below works as expected when testing React Modal without FullCalendar.
    With FullCalendar, causes the modal not to be interactive (e.g. close button frozen).
  */
  /*
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  */
  background-color: #3F524C;
  color: #FFFFFF;
  text-align: center;
  max-width: 900px;
  max-height: 95vh;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.content div button:hover {
  cursor: pointer;
}
